<ion-list>
  <ion-menu-toggle *ngIf="login">
    <ion-item (click)="goToHome()">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle>
    <ion-item routerLink="/sobre-nosotros">
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>Acerca de</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle>
    <ion-item routerLink="/contacto">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle *ngIf="login">
    <ion-item (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle *ngIf="!login">
    <ion-item routerLink="/login">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      <ion-label>Iniciar Sesión</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>
