<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mis Exámenes</ion-title>
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      placeholder="Buscar exámenes"
      animated="true"
      class="custom-searchbar">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="!loading; else loadingTemplate">
    <div class="examenes-container">
      <ion-list *ngIf="filtrarExamenes().length > 0; else noExamenes" class="ion-no-padding">
        <ion-item-sliding *ngFor="let examen of filtrarExamenes()">
          <ion-item lines="full" class="examen-item">
            <ion-icon name="document-text" slot="start"></ion-icon>
            <ion-label>
              <h2 class="ion-text-wrap">{{ examen.nombreArchivo }}</h2>
              <p class="descripcion">{{ examen.descripcion }}</p>
              <p class="fecha">
                <ion-icon name="calendar-outline"></ion-icon>
                {{ examen.fecha.toDate() | date: 'dd/MM/yyyy HH:mm' }}
              </p>
            </ion-label>
            <ion-button 
              fill="clear" 
              [id]="'download-' + examen.nombreArchivo"
              (click)="descargarExamen(examen.url, examen.nombreArchivo)"
              class="download-button">
              <ion-icon name="download-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
          
          <ion-item-options side="end">
            <ion-item-option color="primary" (click)="descargarExamen(examen.url, examen.nombreArchivo)">
              <ion-icon slot="icon-only" name="download-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      
      <ng-template #noExamenes>
        <div class="no-examenes">
          <ion-icon name="document-text-outline"></ion-icon>
          <h3>No hay exámenes disponibles</h3>
          <p>Los exámenes aparecerán aquí cuando estén listos</p>
        </div>
      </ng-template>
    </div>
  </ng-container>
  
  <ng-template #loadingTemplate>
    <div class="loading-container">
      <ion-spinner name="circular"></ion-spinner>
      <p>Cargando exámenes...</p>
    </div>
  </ng-template>
</ion-content>