.btn-custom-primary {
    --background: #0260a7ff;
    --color: #fff; /* Color del texto */
}

.btn-custom-outline {
    --border-color: #0260a7ff; /* Color del borde */
    --color: #0260a7ff; /* Color del texto */
}
/* Contenedor principal */
.reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    background: #fff;
}

  /* Logo */
.logo-container {
    margin-bottom: 20px;
}

.logo-container img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  /* Mensaje informativo */
.info-message {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #000001;
    border: 1px solid #061a40ff;
}

.info-message p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

  /* Formulario */
.reset-form {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input-item {
    margin-bottom: 15px;
}


ion-item ion-label[color="danger"] {
    font-size: 16px;
    color: #e53935;
    margin-top: -10px;
    text-align: center;
}

  /* Responsividad */
@media (max-width: 768px) {
    .reset-password-container {
    padding: 15px;
    }

    .reset-form {
    width: 100%;
    padding: 15px;
    }

    .logo-container img {
    width: 150px;
    }

    .info-message {
    font-size: 14px;
    }
}
