<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido, Administrativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">administrativo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card" style="width: 18rem;">
    <img src="assets/img/consultas.jpg" class="card-img-top" alt="consultas.jpg">
    <div class="card-body">
      <h5 class="card-title">Gestión de horas</h5>
      <p class="card-text">Aquí podrás gestionar las horas de las consultas y/o exámenes de los pacientes!</p>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
  </div>

</ion-content>

