<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched">
        <ion-label color="danger">Nombre es requerido</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input formControlName="apellido"></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched">
        <ion-label color="danger">Apellido es requerido</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="ejemplo@gmail.com"></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <ion-label color="danger">Email es requerido y debe ser válido</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">RUT (Sin puntos ni guión)</ion-label>
        <ion-input formControlName="rut" placeholder="111111111"></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('rut')?.invalid && registerForm.get('rut')?.touched">
        <ion-label color="danger">RUT es requerido</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <ion-label color="danger">Contraseña es requerida y debe tener al menos 6 caracteres</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
        <ion-label color="danger">Las contraseñas no coinciden</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Rol</ion-label>
        <ion-select formControlName="role" (ionChange)="onRoleChange($event)">
          <ion-select-option value="Paciente">Paciente</ion-select-option>
          <ion-select-option value="Medico">Médico</ion-select-option>
          <ion-select-option value="Farmacéutico">Farmacéutico</ion-select-option>
          <ion-select-option value="Administrativo">Administrativo</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched">
        <ion-label color="danger">Rol es requerido</ion-label>
      </ion-item>

      <ion-item *ngIf="isMedico">
        <ion-label>Especialidad</ion-label>
        <ion-select formControlName="especialidad">
          <ion-select-option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Registrarse</ion-button>
    </ion-list>
  </form>
</ion-content>