:host {
    display: block;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  .header-container {
    ion-toolbar {
      --background: #fff;
      --color: #0260a7ff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  
      ion-title {
        font-size: 1.25rem;
        font-weight: 500;
        color: #0260a7ff;
      }
    }
  }
  
  .form-container {
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .form-section {
    margin-bottom: 2rem;
  
    .section-title {
      color: #0260a7ff;
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  
  .no-data {
    text-align: center;
    color: #999;
    font-size: 1rem;
    margin: 2rem 0;
  }
  
  .disponibilidad-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
  
    .disponibilidad-info {
      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }
  
    .action-buttons {
      display: flex;
      gap: 0.5rem;
  
      ion-button {
        --border-radius: 6px;
        font-weight: 500;
        text-transform: none;
      }
  
      ion-button[color='danger'] {
        --background: #e57373;
      }
  
      ion-button[color='primary'] {
        --background: #0260a7ff;
      }
    }
  }
  .edit-form {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .hours-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 10px;
  }
  
  .hora-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .editable-hora {
    border: none;
    background: none;
    text-align: center;
    font-size: 14px;
    width: 50px;
  }

  .btn-custom{
    justify-content: center;
  }
  