<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gestión de medicamentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="pedido-container">
    <ion-list>
      <ion-list-header>
        <ion-label>Lista de Medicamentos</ion-label>
      </ion-list-header>
      <ion-searchbar
      [(ngModel)]="searchTerm"
      placeholder="Buscar medicamentos"
      animated="true"
      class="custom-searchbar">
    </ion-searchbar>
    <ng-container>
        <ion-list *ngIf="filtrarRemedios().length > 0; else noRemedios" class="ion-no-padding">
          <ion-item *ngFor="let remedio of filtrarRemedios()" class="medicamento-item">
            <ion-thumbnail slot="start">
              <img [src]="remedio.imageUrl" class="full-image">
            </ion-thumbnail>
            <ion-label>
              <h2>{{ remedio.nombre }}</h2>
              <p>{{ remedio.descripcion }}</p>
              <p>Cantidad disponible: {{ remedio.cantidad }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        
        <ng-template #noRemedios>
          <div>
            <h3>No hay remedios con el nombre buscado.</h3>
            <p>Si busca un remedio que no aparece, porfavor agregarlo en la gestión de medicamentos.</p>
          </div>
        </ng-template>
    </ng-container>
    </ion-list>
   </div>
   
   <div class="benefits-grid">
    <div class="benefit-item" [routerLink]="['/medicamentos']">
      <ion-icon name="document-text-outline" size="large"></ion-icon>
      <p>Ir a gestión de medicamentos.</p>
    </div>
    <div class="benefit-item" [routerLink]="['/muestra-pedidos']">
      <ion-icon name="people-outline" size="large"></ion-icon>
      <p>Ir a la lista de pedidos</p>
    </div>
  </div>
</ion-content>