<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Disponibilidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="disponibilidadForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime
        presentation="date"
        [firstDayOfWeek]="1"
        [isDateEnabled]="isWeekday"
        display-format="YYYY-MM-DD"
        (ionChange)="agregarFecha($event.detail.value)">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Horas Disponibles</ion-label>
      <div>
        <ion-chip *ngFor="let hora of ['09:00', '09:30', '10:00', '10:30', '11:00'
                                      , '11:30', '12:00', '12:30', '13:00', '13:30'
                                      , '14:00', '14:30', '15:00', '15:30', '16:00'
                                      , '16:30', '17:00', '17:30']"
                                      (click)="agregarHora(hora)"
                                      [color]="horasSeleccionadas.includes(hora) ? 'primary' : 'light'">
          <ion-label>{{ hora }}</ion-label>
        </ion-chip>
      </div>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!disponibilidadForm.valid">
      Guardar Disponibilidad
    </ion-button>
  </form>
</ion-content>
